<div id="<%= dom_id memo %>">
  <p>
    <strong>Title:</strong>
    <%= memo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= memo.description %>
  </p>

  <p>
    <strong>Dateline:</strong>
    <%= memo.dateline %>
  </p>

</div>
